header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Mukta Malar', sans-serif;
    cursor: pointer;
}
button{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    padding: 8px 16px;
    outline: none;
    border: none;
    background: linear-gradient(225deg, #2DC7ED 0%, #538BF0 100%);
    color: aliceblue;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    transition: 1s ease;

}

button::after{
    position: absolute;
    top: -2px;
    left: -2px;
    content: '';
        display: block;
        width: 30%;
        height: 70%;
        border-radius: 3px;
        border-top: 3px solid #1d1d1d;
        border-left: 3px solid #1d1d1d;
        transition: .7s ease;
        opacity: 0;
}

button::before{
    position: absolute;
    bottom: -2px;
    right: -2px;
    content: '';
    display: block;
    width: 30%;
    height: 70%;
    border-radius: 3px;
    border-bottom: 3px solid #1d1d1d;
    border-right: 3px solid #1d1d1d;
    transition: .7s ease;
    opacity: 0;
}

button:hover{
    transform: skewX(-10deg) scale(1.05);
}

button:hover::after{
    opacity: 1;
}

button:hover::before{
    opacity: 1;
}